@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 5rem;
  }

  &.sm-heading {
    margin-bottom: 1.5rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
  outline: none;

  &.link {
    color: $secondary-color;

    &:hover {
      text-decoration: underline;
    }
  }
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;

  .header-overlay {
    height: 55px;
    background: darken($primary-color, 5);
    opacity: -0.3;
  }
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%; sticky footer
  min-height: calc(100vh - 60px);

  .icons {
    // margin-top: 1rem; ?

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 1rem;
    border-bottom: $secondary-color 5px solid;
  }

  ul {
    padding-left: 1.5rem;

    li {
      margin-bottom: 0.5rem;
    }
  }
}

// Work/Projects
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  .img-wrapper {
    position: relative;
  }

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }

  .tags {
    position: absolute;
    bottom: 15px;
    left: 8px;
    display: flex;
    flex-flow: row wrap-reverse;

    .tag {
      display: inline-block;
      margin: 6px 6px 0px 0px;
      font-size: 13px;
      padding: 0 0.25em 0.1em;
      border-radius: 5px;
      border: solid 2px transparent;
      line-height: 1.2;
      box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);

      &.scss-color {
        background-color: $scss-color;
      }

      &.animation-color {
        background-color: $animation-color;
      }

      &.js-color {
        background-color: $js-color;
      }

      &.responsive-color {
        background-color: $responsive-color;
      }

      &.redux-color {
        background-color: $redux-color;
      }

      &.react-color {
        background-color: $react-color;
      }
      &.typescript-color {
        background-color: $typescript-color;
      }

      &.jquery-color {
        background-color: $jquery-color;
      }

      &.grid-color {
        background-color: $grid-color;
      }

      &.gulp-color {
        background-color: $gulp-color;
      }
    }
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 1.5rem;
    border: 3px #fff solid;
    padding: 1rem 1.8rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      //color: set-text-color($secondary-color);
      color: #000;
      span {
        //color: set-text-color($secondary-color);
        color: #000;
      }
    }
  }
}

// Buttons Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import 'mobile';
